In [25]:
import pandas as pd
import pickle
import re
import unidecode
import numpy as np


from sklearn.linear_model import LogisticRegression

In [26]:
with open('../data/knowledge_graph_data/id2text_entity.pickle', 'rb') as f:
    id2text = pickle.load(f)

In [27]:
with open('../data/sample_doc2vec_data.pkl', 'rb') as f:
    docs = pickle.load(f)

In [28]:
with open('../data/name_to_wiki_id.pkl', 'rb') as f:
    name_to_wiki_id = pickle.load(f)

In [29]:
with open('../data/knowledge_graph_data/idx2id_entity.pickle', 'rb') as f:
    idx2id = pickle.load(f)

In [30]:
id2idx = {value: key for key, value in idx2id.items()}

In [7]:
graph_embedding = np.load('../data/knowledge_graph_data/wiki_DistMult_entity.npy')

In [8]:
len(graph_embedding)

5850119

In [31]:
# replace words within paranthesis and remove non alphanumeric characters
# get_rid of `the` which can cause difference
pattern = re.compile(r'\([^)]*\)|[^a-zA-Z0-9 -]|\s|(^|[^a-zA-Z0-9])the[^a-zA-Z0-9]')
# unidecode to remove accents
normalize_text = lambda text: pattern.sub("", unidecode.unidecode(text).lower())


def preprocess(text):
    return [word.lower() for word in word_tokenize(text) if word.lower() not in stoplist and not word.isdigit()]

In [32]:
lst = []
not_in_graph = []
for doc in docs:
    doc_embedding = doc[0]
    for name, entity_id in doc[1].items():
        #get a candidate from candidate_dict to get a false, irrelevant entity for each entity
        candidates_list = name_to_wiki_id[normalize_text(name[0])]
        #can't choose actual entity as false 
        if entity_id in candidates_list:
            candidates_list.remove(entity_id)
        if len(candidates_list) > 0:
            for false_entity_id in candidates_list:
                if false_entity_id in id2idx:
                    false_graph_embed = graph_embedding[id2idx[false_entity_id]]
                    lst.append(np.concatenate([doc_embedding, false_graph_embed, np.zeros(1)]))
                else:
                    not_in_graph.append(false_entity_id)
        if entity_id in id2idx:
            true_graph_embed = graph_embedding[id2idx[entity_id]]
            lst.append(np.concatenate([doc_embedding, true_graph_embed, np.ones(1)]))
        else:
            not_in_graph.append(entity_id)
lst = np.array(lst)
X = lst[:, :-1]
y = lst[:, -1:]

In [33]:
not_in_graph

[853581.0,
 853581.0,
 65091914.0,
 17088505.0,
 4810561.0,
 56651006.0,
 4813456.0,
 12875810.0,
 853581.0,
 65082770.0,
 28453463.0,
 4654676.0,
 65081718.0,
 6654586.0,
 3758329.0,
 55635595.0,
 16254770.0,
 780933,
 6961536,
 7837279.0,
 55641576.0,
 7072443.0,
 3293310,
 1531726,
 2006334,
 17642222,
 2544084,
 65079741.0,
 65079741.0,
 6041248.0,
 1017464.0,
 2054962.0,
 5586089.0,
 25352014.0,
 3966691.0,
 6041248.0,
 65079741.0,
 463257.0,
 16953533.0,
 4742853.0,
 1003198,
 65057523.0,
 13406760.0,
 60756105.0,
 64825508.0,
 4705174.0,
 684402.0,
 16197373.0,
 30601025.0,
 336308.0,
 7669747.0,
 853581.0,
 65090331.0,
 65090331.0,
 5170692,
 30632542.0,
 64825508.0,
 65060938.0,
 7085454.0,
 65060938.0,
 6979964.0,
 5472990.0,
 65049114.0,
 6979964.0,
 5472990.0,
 50962189.0,
 5273606.0,
 24039482.0,
 64825508.0,
 6365185.0,
 6365185.0,
 64825508.0,
 989673.0,
 5152209.0,
 28135704.0,
 65064412.0,
 6007037.0,
 7933447.0,
 7933450.0,
 1528875.0,
 2527557.0,
 17058771.0,
 11114344.0,
 5461164.0,
 8563949.0,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 64825508.0,
 989673.0,
 5148271.0,
 17053070.0,
 4874532.0,
 3960056.0,
 6475520.0,
 17118735.0,
 7707415.0,
 7707419.0,
 20981359,
 55635063.0,
 442787.0,
 65051204.0,
 3623000.0,
 5376893.0,
 7986840.0,
 1722392.0,
 64825508.0,
 17118735.0,
 7707415.0,
 7707419.0,
 6041248.0,
 4218095.0,
 60790622.0,
 763850.0,
 6762088,
 5201382,
 7363030.0,
 7363437.0,
 7363030.0,
 7363437.0,
 5999321.0,
 1140245.0,
 48743480.0,
 1267408.0,
 64953265.0,
 20639032.0,
 7363030.0,
 7363437.0,
 3841682.0,
 65063603.0,
 6941424.0,
 3328629.0,
 6041248.0,
 6961537.0,
 5194619.0,
 1707504.0,
 28224348.0,
 55612277.0,
 6961537.0,
 5194619.0,
 7085454.0,
 4889704.0,
 5183602,
 7016813.0,
 65090331.0,
 4732542.0,
 65070101.0,
 5507188.0,
 13636775,
 7136598.0,
 6961537.0,
 5194619.0,
 65056886.0,
 22236197.0,
 4647082.0,
 19570746.0,
 463257.0,
 16953533.0,
 4742853.0,
 2442043.0,
 1166383.0,
 776653.0,
 776655.0,
 2578643.0,
 55604443.0,
 7726961.0,
 65080249.0,
 5377162.0,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 618973.0,
 4780262.0,
 25184234.0,
 3858176.0,
 24234200.0,
 5499603.0,
 6041248.0,
 7435708.0,
 7168224.0,
 3905195.0,
 7085454.0,
 1955035.0,
 65120889.0,
 65070101.0,
 7681175.0,
 11114344.0,
 5273606.0,
 312371.0,
 2461385,
 29568419.0,
 2325193.0,
 3546241.0,
 215233.0,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 64825508.0,
 1305313.0,
 10950147.0,
 65084124.0,
 18709409,
 17011324.0,
 4689050.0,
 4689050.0,
 4571421,
 4689064,
 6970529.0,
 784689.0,
 48800246.0,
 6970529.0,
 784689.0,
 48800246.0,
 21022148.0,
 23091419.0,
 48802783.0,
 7085454.0,
 55636133.0,
 7835473.0,
 1654181.0,
 11114685.0,
 2927809.0,
 2378825.0,
 7413083.0,
 5273606.0,
 5093488,
 7058901.0,
 463257.0,
 16953533.0,
 4742853.0,
 5866262,
 16873394.0,
 65070557.0,
 5866262,
 20187010.0,
 3905195.0,
 7449985.0,
 7450034.0,
 21022191.0,
 4966663,
 4966663,
 11114685.0,
 1814631.0,
 28224348.0,
 64825508.0,
 16954363.0,
 4295425.0,
 16934439.0,
 50823806.0,
 4295425.0,
 16934439.0,
 50823806.0,
 6872043,
 6041248.0,
 6041248.0,
 5371916.0,
 7865070.0,
 6041248.0,
 64825508.0,
 16977286.0,
 65119452.0,
 30324002.0,
 1806855.0,
 17492566.0,
 243449.0,
 968848.0,
 4869385.0,
 4869388.0,
 16275304.0,
 48973195.0,
 6269739.0,
 6269756.0,
 7749858,
 64825508.0,
 60796031,
 60796031,
 65079096.0,
 24197260.0,
 65079096.0,
 4838504.0,
 56289915.0,
 4689533.0,
 65080249.0,
 7136598.0,
 3343246.0,
 731838.0,
 1202008.0,
 11014758,
 11014758,
 55606589.0,
 3104532.0,
 8357169.0,
 21234215.0,
 5149991.0,
 60790600.0,
 25182598.0,
 24521747.0,
 17058771.0,
 65090331.0,
 7450268.0,
 5273606.0,
 3937037.0,
 1431161.0,
 65085459.0,
 5446313.0,
 65056976.0,
 7315678.0,
 7315679.0,
 568678.0,
 56196093.0,
 20825977.0,
 24883313.0,
 4959649.0,
 778433.0,
 65070101.0,
 28456533.0,
 7085454.0,
 16992717.0,
 2386274.0,
 4959649.0,
 778433.0,
 5225921.0,
 6746126.0,
 808726.0,
 17069394.0,
 28232363.0,
 55634551.0,
 20979336.0,
 16254770.0,
 5273606.0,
 7164345.0,
 463257.0,
 16953533.0,
 4742853.0,
 463257.0,
 16953533.0,
 4742853.0,
 4834681.0,
 65080249.0,
 55607108.0,
 66007740.0,
 1377707,
 21234215.0,
 5149991.0,
 60790600.0,
 16258011.0,
 1967569.0,
 16889789.0,
 1967569.0,
 16889789.0,
 1967569.0,
 16889789.0,
 16889789,
 1967569.0,
 16889789.0,
 1967569.0,
 16889789.0,
 7129915.0,
 11059147.0,
 1967569.0,
 16889789.0,
 16889789.0,
 1967569,
 1967569,
 60743800.0,
 61594268.0,
 6019237.0,
 6019242.0,
 60747904.0,
 7653463.0,
 5524898.0,
 17086235.0,
 3559384.0,
 3559384.0,
 4705174.0,
 13035968.0,
 65091474.0,
 55460133.0,
 28224348.0,
 618466.0,
 5275007.0,
 6041248.0,
 48804640.0,
 65072078.0,
 6736474.0,
 821323.0,
 65070183.0,
 64825508.0,
 48783116.0,
 19871383.0,
 3297442.0,
 57295167.0,
 344008.0,
 4686052.0,
 2668011.0,
 1440138.0,
 7735092.0,
 7735093.0,
 5476564.0,
 17056398.0,
 65075789.0,
 6481379,
 54954628.0,
 5530066.0,
 18152532.0,
 7805397.0,
 4771133.0,
 60290686.0,
 6682400,
 60290686.0,
 5247215.0,
 5247216.0,
 22690143.0,
 1421269,
 28457368.0,
 28543869,
 65090331.0,
 28543869,
 65091783.0,
 25936351.0,
 7635047.0,
 65080249.0,
 7511304.0,
 60768223.0,
 30601025.0,
 5575815.0,
 64825508.0,
 989673.0,
 989673.0,
 6041248.0,
 5915296.0,
 755556.0,
 24913084.0,
 1431458.0,
 65069360.0,
 65069439.0,
 60290686.0,
 5267681.0,
 5267682.0,
 3025525.0,
 3559384.0,
 5223516.0,
 6041248.0,
 4765860.0,
 4947710.0,
 48743480.0,
 4534728.0,
 19876567.0,
 4534728.0,
 19876567.0,
 7644299.0,
 17082887.0,
 1246473.0,
 5048094.0,
 5048098.0,
 7551269.0,
 7318214.0,
 7101030.0,
 20187010.0,
 7101030.0,
 25351411.0,
 60750438.0,
 65058326.0,
 752305,
 60768510.0,
 463257.0,
 16953533.0,
 4742853.0,
 22080107.0,
 60750915.0,
 7080833.0,
 28406460.0,
 4873458.0,
 60776093.0,
 6747250.0,
 6747251.0,
 65079096.0,
 1814398.0,
 6452868.0,
 1783173,
 65117559.0,
 5124093.0,
 5273606.0,
 7435708.0,
 5870647.0,
 60756105.0,
 65050451.0,
 64825508.0,
 2118444.0,
 2984568.0,
 24901345.0,
 30601860.0,
 5163017.0,
 30597915.0,
 5273606.0,
 5377957.0,
 1087692.0,
 4829240.0,
 463257.0,
 16953533.0,
 4742853.0,
 30594199.0,
 5273606.0,
 463257.0,
 16953533.0,
 4742853.0,
 5260161.0,
 28446439.0,
 4654418.0,
 5324263.0,
 48987818.0,
 30682163.0,
 1991896.0,
 5558525.0,
 30324002.0,
 1806855.0,
 17492566.0,
 243449.0,
 1749381.0,
 862131.0,
 6453184,
 6453184,
 4781217.0,
 48814561.0,
 30601025.0,
 606881.0,
 24238953.0,
 60793202.0,
 65090238.0,
 28456533.0,
 463257.0,
 16953533.0,
 4742853.0,
 5547323.0,
 65090331.0,
 5583832.0,
 1537656.0,
 5499603.0,
 5273606.0,
 463257.0,
 16953533.0,
 4742853.0,
 65070101.0,
 5183387.0,
 5183386,
 5183387,
 56275628.0,
 1517569.0,
 7363030.0,
 7363437.0,
 65071881.0,
 65071478.0,
 65071479.0,
 47472684.0,
 2118444.0,
 7060975.0,
 7060975.0,
 6961537.0,
 5194619.0,
 28404733,
 430841.0,
 48975133.0,
 65086627.0,
 48989876.0,
 1478661,
 3820332.0,
 2118444.0,
 65051204.0,
 5090036.0,
 21233468.0,
 463257.0,
 16953533.0,
 4742853.0,
 463257.0,
 16953533.0,
 4742853.0,
 65076705.0,
 65076705.0,
 7832592.0,
 7060975.0,
 6961537.0,
 5194619.0,
 65079503,
 7136598.0,
 6970529.0,
 784689.0,
 48800246.0,
 5957551.0,
 1416102,
 1440138.0,
 7735092.0,
 7735093.0,
 5476564.0,
 989673.0,
 30597762.0,
 48802983.0,
 23808235.0,
 48976989.0,
 3365264.0,
 19569054.0,
 8037440.0,
 7954026.0,
 1788046,
 463257.0,
 16953533.0,
 4742853.0,
 65060938.0,
 7094588.0,
 5461164.0,
 8563949.0,
 4943249.0,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 4745665.0,
 5450875.0,
 30601025.0,
 55612277.0,
 60750438.0,
 65058326.0,
 65070101.0,
 6407444.0,
 65090497.0,
 17121767.0,
 3884021.0,
 4648960.0,
 55602909.0,
 48975133.0,
 65086627.0,
 48989876.0,
 29568419.0,
 65090331.0,
 65070101.0,
 7094588.0,
 5122244,
 3297439.0,
 12243250.0,
 4678217.0,
 5122244,
 4690116.0,
 2118444.0,
 3426697,
 7094588.0,
 60793202.0,
 65090238.0,
 17118735.0,
 7707415.0,
 7707419.0,
 4816265.0,
 4816634.0,
 39050486.0,
 795338,
 16164995.0,
 3437072.0,
 55629384.0,
 7118922.0,
 42944862.0,
 7160549.0,
 7160552.0,
 7160558.0,
 5445243.0,
 3820332.0,
 1339916.0,
 65090224.0,
 18207437.0,
 25040633.0,
 20979336.0,
 7720496.0,
 7824803.0,
 5193522.0,
 65060938.0,
 1517569.0,
 21469571.0,
 48988706.0,
 30602592.0,
 6961537.0,
 5194619.0,
 787795.0,
 48816567.0,
 7143026,
 4956154,
 6550468.0,
 989673.0,
 65069294.0,
 7101030.0,
 20187010.0,
 7101030.0,
 5377957.0,
 1087692.0,
 1078500.0,
 25184234.0,
 16960857.0,
 17042648.0,
 65070101.0,
 7085454.0,
 48835056.0,
 4658522.0,
 6041248.0,
 7522850,
 16933507.0,
 7522850,
 48731204,
 5310848.0,
 7652719,
 18159736.0,
 48990113.0,
 18394987.0,
 13479766.0,
 55635360.0,
 21157849.0,
 4794154.0,
 60290686.0,
 65080249.0,
 42896771.0,
 5570979.0,
 30601025.0,
 30606236.0,
 7085454.0,
 4745665.0,
 60751010.0,
 4742710.0,
 4742715.0,
 65058850.0,
 6041248.0,
 2118444.0,
 48803157.0,
 7270781.0,
 6740731.0,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 6041248.0,
 1990154.0,
 1990158.0,
 1990164.0,
 60791070.0,
 1713092.0,
 380110.0,
 1764576.0,
 1990133.0,
 65090331.0,
 20187010.0,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 60290686.0,
 16934664,
 16843683.0,
 7739459.0,
 60768895.0,
 5377957.0,
 1087692.0,
 763407,
 5547323.0,
 5521979.0,
 1333015.0,
 65046715.0,
 463257.0,
 16953533.0,
 4742853.0,
 65088784.0,
 60789048.0,
 2543326,
 65043779.0,
 65120990.0,
 4785590.0,
 5450875.0,
 3983166.0,
 65078514.0,
 65070101.0,
 463257.0,
 16953533.0,
 4742853.0,
 3905195.0,
 21999799,
 7197851.0,
 1099936.0,
 7049300,
 7116593.0,
 60794216.0,
 21666860.0,
 3884696.0,
 16147268.0,
 13035968.0,
 42610.0,
 21050766,
 20987743.0,
 4840042.0,
 11114344.0,
 6502982.0,
 1364085,
 5715209,
 7757569.0,
 21162264.0,
 23582245.0,
 5519618.0,
 5622756.0,
 6906591.0,
 7126618,
 3960056.0,
 6041248.0,
 7984365.0,
 430841.0,
 5461164.0,
 8563949.0,
 3149586,
 17030740.0,
 18358962.0,
 7926542.0,
 6540863.0,
 6540945.0,
 55616812.0,
 65080249.0,
 463257.0,
 16953533.0,
 4742853.0,
 6041248.0,
 6019237.0,
 6019242.0,
 6041248.0,
 21234215.0,
 5149991.0,
 60790600.0,
 3012435.0,
 64825508.0,
 3960056.0,
 5132047.0,
 5132047.0,
 60439026.0,
 3960056.0,
 60785815.0,
 961181.0,
 65117672.0,
 17199193.0,
 1120613,
 5916190.0,
 65079344.0,
 3905195.0,
 5377957.0,
 1087692.0,
 5461164.0,
 8563949.0,
 40889957,
 25114766.0,
 5284173.0,
 5439694.0,
 5377957.0,
 1087692.0,
 6467568.0,
 30315122,
 18346011.0,
 28419360.0,
 3889359.0,
 25221871.0,
 56064408.0,
 7770212.0,
 62631162.0,
 989673.0,
 13127679.0,
 220213.0,
 56289915.0,
 4689533.0,
 7060975.0,
 463257.0,
 16953533.0,
 4742853.0,
 16155312.0,
 5454480.0,
 28457644.0,
 642362.0,
 5425863.0,
 60742860.0,
 1336182.0,
 28940835.0,
 3403218.0,
 12629340.0,
 30601191.0,
 6041248.0,
 3138952.0,
 30603547.0,
 17058771.0,
 60057792.0,
 65070101.0,
 7376263.0,
 7376272.0,
 4691480.0,
 5051360.0,
 42896751.0,
 7376255.0,
 5332994.0,
 25172122.0,
 22908030.0,
 30587876.0,
 7059002.0,
 65060938.0,
 463257.0,
 16953533.0,
 4742853.0,
 2118444.0,
 7405760.0,
 30314222.0,
 4839656.0,
 927708.0,
 30323987.0,
 13035968.0,
 1538326.0,
 42630.0,
 6040268,
 7676514.0,
 6040268,
 32361660.0,
 4774777,
 1417847.0,
 64825508.0,
 13035968.0,
 65076367.0,
 39078725.0,
 6550468.0,
 989673.0,
 65069294.0,
 6041248.0,
 30668407.0,
 65076705.0,
 16975519.0,
 491498.0,
 285800,
 968017.0,
 285800,
 28543869.0,
 23302344.0,
 463257.0,
 16953533.0,
 4742853.0,
 30632092.0,
 4974213.0,
 16975519.0,
 6915499.0,
 6019237.0,
 6019242.0,
 7085454.0,
 18204578.0,
 15917218.0,
 65075209.0,
 1440138.0,
 7735092.0,
 7735093.0,
 5476564.0,
 55631681.0,
 5547323.0,
 11294057,
 65057641,
 5282566.0,
 7772103.0,
 7917796.0,
 6041248.0,
 5915296.0,
 6041248.0,
 65090331.0,
 1687937.0,
 5865034.0,
 6979964.0,
 5472990.0,
 5157574.0,
 65043020.0,
 65046440.0,
 48815462.0,
 25471052.0,
 11113748.0,
 2555792.0,
 1640683.0,
 5377957.0,
 1087692.0,
 23636041.0,
 6041248.0,
 5999321.0,
 7734957.0,
 23641779.0,
 15984880.0,
 17068344.0,
 12764483.0,
 5999321.0,
 5999321.0,
 6041248.0,
 8050630.0,
 6843329.0,
 463257.0,
 16953533.0,
 4742853.0,
 65043337.0,
 463257.0,
 16953533.0,
 4742853.0,
 17072037,
 5133458.0,
 ...]

In [34]:
len(not_in_graph)

4876

In [35]:
y.mean()

0.18892508143322476

In [36]:
X.shape

(114204, 1250)

In [37]:
np.save('../data/sample_embedding_dataset_imbalanced.npy', lst)

In [24]:
wikipages_cleaned = pd.read_csv('../data/wikipages_cleaned.csv')

In [30]:
wikipages_cleaned[wikipages_cleaned.wikidata_numeric_id.isin(not_in_graph)]

,page_title,page_is_redirect,page_len,wikidata_numeric_id,views,page_id,target_page_id,target_page_title
1869,Her_Majesty's_Government_(term),0,11950,1003198.0,798,25318121.0,25318121.0,Her_Majesty's_Government_(term)
9246,Bush_(automobile),0,812,1017464.0,42,12455948.0,12455948.0,Bush_(automobile)
13181,Connected_Limited_Device_Configuration,0,8197,1023837.0,201,417988.0,417988.0,Connected_Limited_Device_Configuration
14003,Isha_Upanishad,0,25556,1025128.0,1225,2408537.0,2408537.0,Isha_Upanishad
32590,Home_Nations,0,10145,1040745.0,1376,971501.0,971501.0,Home_Nations
...,...,...,...,...,...,...,...,...
14695478,Seventeenth_Naval_District,1,63,7892607.0,0,61098242.0,11559695.0,United_States_naval_districts
14702846,Orémus_grape,1,19,8076053.0,0,10195148.0,12930665.0,Zéta
14721383,WQC,1,41,128067.0,0,47726527.0,2170444.0,World_Quizzing_Championship
14722996,Ninth_Avenue_Line_(Brooklyn_surface),1,37,7914432.0,0,9734770.0,8840562.0,B69_(New_York_City_bus)
14727919,15th_Naval_district,1,80,7892607.0,0,11572145.0,11559695.0,United_States_naval_districts

In [31]:
triplets = pd.read_csv('../data/raw/wikidata_20190805.qpq_item_statements.csv')

In [37]:
triplets[triplets.source_item_id == 2408537.0]

           source_item_id  edge_property_id  target_item_id  el_rank
289440533         2408537               641            7291        1
289440534         2408537               156         2408540        1
289440535         2408537               155         2408527        1
289440536         2408537                31          696677        1
289440537         2408537                17             869        1
289440538         2408537               279        13357858        1
289440539         2408537              2094        63869675        1
289440540         2408537               276            1861        1

In [38]:
len(triplets['source_item_id'].unique())

56411129

In [45]:
wikidata = pd.read_csv('../data/raw/wikidata_20190805.item.csv')

In [46]:
wikidata.head()

,id,en_label,en_description,enwiki_title
0,51475818,YouTube as a source of information on kidney s...,scientific article published on 4 December 2010,NaN
1,51475821,The sinus lift with phycogenic bone substitute...,scientific article published in June 2005,NaN
2,51475829,Economic aspects of single-tooth replacement.,scientific article published in June 2005,NaN
3,51475835,"Template:Peace, Unity, and Development Party/m...",NaN,"Template:Peace, Unity, and Development Party/m..."
4,51475865,Long-term results and survival rate of implant...,scientific article published in June 2005,NaN

In [56]:
wikidata[wikidata.id == 1017464]

               id en_label           en_description       enwiki_title
38421949  1017464     Bush  automobile manufacturer  Bush (automobile)

In [58]:
wikidata[wikidata.enwiki_title == 'Bush (automobile)']

               id en_label           en_description       enwiki_title
38421949  1017464     Bush  automobile manufacturer  Bush (automobile)

In [55]:
triplets[triplets.source_item_id == 1017464]

           source_item_id  edge_property_id  target_item_id  el_rank
240591450         1017464                31          786820        1

In [57]:
id2idx[1017464]

KeyError: 1017464