* Purpose: Link redirected Wikipages to the target Wikipage's wikidata ID (Or vice versa in some cases).

In [1]:
import pandas as pd
import numpy as np

In [2]:
entities = pd.read_csv('../data/raw/wikidata_20190805.item.csv')

In [3]:
entities.head()

,id,en_label,en_description,enwiki_title
0,51475818,YouTube as a source of information on kidney s...,scientific article published on 4 December 2010,NaN
1,51475821,The sinus lift with phycogenic bone substitute...,scientific article published in June 2005,NaN
2,51475829,Economic aspects of single-tooth replacement.,scientific article published in June 2005,NaN
3,51475835,"Template:Peace, Unity, and Development Party/m...",NaN,"Template:Peace, Unity, and Development Party/m..."
4,51475865,Long-term results and survival rate of implant...,scientific article published in June 2005,NaN

In [4]:
entities.shape

(58708336, 4)

In [2]:
wikipages = pd.read_csv('../data/raw/enwiki_20190801.page.csv')

In [3]:
wikipages.head()

,page_id,page_title,page_is_redirect,page_len,wikidata_numeric_id,views
0,31880,Universe,0,125156,1.0,37605
1,24437894,Boston,0,188674,100.0,60038
2,12027,Gabon,0,60678,1000.0,24767
3,1313683,Dutch_Wikipedia,0,8325,10000.0,1203
4,4037258,Cadier_en_Keer,0,2584,100000.0,51

In [4]:
wikipages.shape

(14730178, 6)

In [5]:
redirect = pd.read_csv('../data/raw/enwiki_20190801.redirect.csv')

In [6]:
redirect.head()

,source_page_id,target_page_id,source_page_title,target_page_title
0,39378878,38421275,Infocom_Network,TradeIndia
1,25917412,2238902,Canyonero_(car),The_Last_Temptation_of_Krust
2,3245614,1941596,Chief_Dull_Knife,Morning_Star_(chief)
3,43321056,32960669,National_Register_of_Historic_Places_in_Early_...,National_Register_of_Historic_Places_listings_...
4,13307706,369596,The_New_York_Botanical_Garden,New_York_Botanical_Garden

In [10]:
redirect.shape

(8798299, 4)

In [11]:
wikipages[(wikipages.page_is_redirect == 1) & ~(wikipages.wikidata_numeric_id.isnull())]

,page_id,page_title,page_is_redirect,page_len,wikidata_numeric_id,views
168,11547342,Pentagastrin-stimulated_calcitonin_test,1,76,1000221.0,21
385,39526278,All_in_the_Family_(season_1),1,64,10006388.0,83
447,39526279,All_in_the_Family_(season_2),1,69,10007629.0,121
504,39526280,All_in_the_Family_(season_3),1,69,10008470.0,119
565,39526282,All_in_the_Family_(season_4),1,69,10009361.0,121
604,39526284,All_in_the_Family_(season_5),1,69,10010115.0,86
693,39526287,All_in_the_Family_(season_6),1,69,10011833.0,86
744,39526288,All_in_the_Family_(season_7),1,69,10012953.0,60
790,2801550,BudgeCo,1,24,1001380.0,25
803,39526289,All_in_the_Family_(season_8),1,69,10014029.0,62
849,39526290,All_in_the_Family_(season_9),1,69,10014809.0,13
1151,4615576,Gattermann–Koch_reaction,1,77,1001993.0,106
1294,655361,Kip_Kinkel,1,737,1002201.0,778
1488,970730,Galaxy_cloud,1,40,1002591.0,70
1524,8869595,RandR,1,205,1002643.0,507
1559,43928858,Melee_(tournament),1,158,1002704.0,127
1626,5335596,Transverse_foramen,1,39,1002800.0,99
1627,4518294,Zygomaticotemporal_foramen,1,45,1002802.0,55
1628,5518144,Anterior_sacral_foramina,1,47,1002805.0,101
1687,1526450,Buick_Somerset,1,95,1002887.0,263
1806,28228860,Shifshuf_Naim,1,109,1003095.0,62
2542,50192359,Dead_in_the_Water_(Supernatural),1,37,1004309.0,32
2700,37156860,ICarly_(season_7),1,96,10046119.0,85
2875,4222355,Thermal_bath,1,17,1004887.0,338
3326,20222106,Bundesanstalt_für_Züchtungsforschung,1,57,1005547.0,0
3607,3548501,Microcephale,1,61,1006118.0,21
3654,3478103,Chinsurah,1,331,1006256.0,513
3669,16670373,Confederacy_of_Independent_Systems,1,75,1006293.0,216
3673,48736569,National_Independence_Kossuth_Party,1,59,1006299.0,111
3962,4311315,GECIS,1,21,1007000.0,133
...,...,...,...,...,...,...
6008667,61660,Embargo,1,49,989265.0,2160
6009239,26969145,Josef_Rettemeier,1,69,99045.0,47
6009245,10581730,Musharaka,1,48,990458.0,102
6009463,301276,List_of_municipalities_in_Barcelona,1,41,99084.0,67
6009523,17206617,Lamaçães,1,43,990933.0,9
6009684,22681414,Browns_Corners,1,27,991216.0,0
6009811,1347151,Ki-Aikido,1,24,991432.0,86
6010275,2599102,Euler_Medal,1,68,992537.0,69
6010342,32195913,Ernst_Knebel,1,75,99268.0,10
6011659,5027019,Megacervixosaurus,1,66,995307.0,17
6011672,4967241,Lancanjiangosaurus,1,67,995327.0,21
6011720,2056251,Hiroyuki_Yabe,1,148,995432.0,70
6011744,5116964,Orcomimus,1,58,995486.0,52
6011757,4965748,Wyomingraptor,1,62,995519.0,43
6011763,5045088,Zanclodon_cambrensis,1,61,995536.0,49
6011895,1194688,Indoor_climbing,1,140,995878.0,363
6011907,3445246,Glossary_of_classical_physics,1,52,995913.0,97
6011924,4313180,Dachongosaurus,1,63,995962.0,10
6011938,1561815,Peter_von_Siemens,1,21,99599.0,145
6012080,5264558,Paul_Schmitz-Moormann,1,64,99629.0,78
6012091,43746235,TÜV_Saarland,1,45,996314.0,8
6012224,4881157,Father_to_Son,1,419,996662.0,12
6012253,8199527,Macau_Standard_Time,1,33,996734.0,75
6012524,86076,Buarainech,1,23,997350.0,134
6012614,20901255,Hans_Erdmenger,1,69,99748.0,43
6012827,13691171,Intended_interpretation,1,128,998026.0,70
6013013,12208996,Friedrich_Lang,1,69,99851.0,57
6013072,17890977,Neocaesarea_(episcopal_see),1,110,998638.0,5
6013090,11607917,Book_fair,1,125,998672.0,109
6013727,50091852,Wendigo_(Supernatural),1,37,999778.0,40

In [13]:
#Get wikidata_id for redirected pages. 
wikipages_cleaned = wikipages.copy()
#Get target page id for all 
target_page_ids = wikipages_cleaned.merge(redirect[['source_page_id', 'target_page_id']],
                          how = 'left', left_on = ['page_id'], right_on = ['source_page_id'])
#Pages that do not appear in redirect have both source_page_id and target_page_id as null after join. These are just page_id for both
target_page_ids['target_page_id'] = target_page_ids['target_page_id'].fillna(target_page_ids['page_id'])
target_page_ids['source_page_id'] = target_page_ids['source_page_id'].fillna(target_page_ids['page_id'])
target_page_ids = target_page_ids.drop(['page_id'], axis = 1)

wikipages_cleaned = target_page_ids.merge(wikipages[['page_id', 'page_title', 'wikidata_numeric_id']], how = 'left', 
                                          left_on = ['target_page_id'], right_on = ['page_id'])

wikipages_cleaned['wikidata_numeric_id_x'] = wikipages_cleaned['wikidata_numeric_id_x'].fillna(
                                                    wikipages_cleaned['wikidata_numeric_id_y'])
wikipages_cleaned = wikipages_cleaned.drop(['wikidata_numeric_id_y', 'page_id'], axis = 1)
wikipages_cleaned = wikipages_cleaned.rename(columns = {'page_title_x': 'page_title', 
                                                        'page_title_y': 'target_page_title',
                                                        'wikidata_numeric_id_x': 'wikidata_numeric_id',
                                                        'source_page_id': 'page_id'
                                                       })
#There are some instances (see end of notebook) of source page having wikidata instead of target.
#Set target page to have source page wikidata for those
wikidata_ids = wikipages_cleaned.groupby(['target_page_id'])[['wikidata_numeric_id']].min().reset_index()
wikipages_cleaned = wikipages_cleaned.merge(wikidata_ids, how = 'left', on = ['target_page_id'])
wikipages_cleaned['wikidata_numeric_id_x'] = wikipages_cleaned['wikidata_numeric_id_x'].fillna(
                                                    wikipages_cleaned['wikidata_numeric_id_y'])
wikipages_cleaned = wikipages_cleaned.drop(['wikidata_numeric_id_y'], axis = 1)
wikipages_cleaned = wikipages_cleaned.rename(columns = {'wikidata_numeric_id_x': 'wikidata_numeric_id'})

wikipages_cleaned

,page_title,page_is_redirect,page_len,wikidata_numeric_id,views,page_id,target_page_id,target_page_title
0,Universe,0,125156,1.0,37605,31880.0,31880.0,Universe
1,Boston,0,188674,100.0,60038,24437894.0,24437894.0,Boston
2,Gabon,0,60678,1000.0,24767,12027.0,12027.0,Gabon
3,Dutch_Wikipedia,0,8325,10000.0,1203,1313683.0,1313683.0,Dutch_Wikipedia
4,Cadier_en_Keer,0,2584,100000.0,51,4037258.0,4037258.0,Cadier_en_Keer
5,Water_crisis_in_Iran,0,11924,1000000.0,351,43228764.0,43228764.0,Water_crisis_in_Iran
6,Gold_Cobra,0,25138,1000001.0,3304,25266597.0,25266597.0,Gold_Cobra
7,Nielles-lès-Bléquin,0,2776,1000003.0,23,13127566.0,13127566.0,Nielles-lès-Bléquin
8,New_Hampshire_Route_16,0,21068,1000004.0,332,1977519.0,1977519.0,New_Hampshire_Route_16
9,Karel_Matěj_Čapek-Chod,0,1974,1000005.0,45,4217319.0,4217319.0,Karel_Matěj_Čapek-Chod
10,Neuvireuil,0,2533,1000008.0,33,13127536.0,13127536.0,Neuvireuil
11,Neuville-Saint-Vaast,0,6975,1000009.0,83,6327938.0,6327938.0,Neuville-Saint-Vaast
12,Bemelen,0,2731,100001.0,63,4037172.0,4037172.0,Bemelen
13,Neuville-sous-Montreuil,0,2847,1000011.0,32,13127468.0,13127468.0,Neuville-sous-Montreuil
14,Jaguar_XK140,0,7739,1000013.0,1498,3264507.0,3264507.0,Jaguar_XK140
15,Basseux,0,3440,1000016.0,44,6327473.0,6327473.0,Basseux
16,Cirelli,0,295,10000164.0,18,55747476.0,55747476.0,Cirelli
17,Brentidae,0,3112,1000017.0,235,6256899.0,6256899.0,Brentidae
18,Jinggangshan_Airport,0,3766,1000018.0,183,14411420.0,14411420.0,Jinggangshan_Airport
19,Banholt,0,1926,100002.0,32,4025824.0,4025824.0,Banholt
20,Melrose_RFC,0,10280,1000020.0,159,2330627.0,2330627.0,Melrose_RFC
21,Ningbo_Rail_Transit,0,11966,1000022.0,596,26772183.0,26772183.0,Ningbo_Rail_Transit
22,Changde_Taohuayuan_Airport,0,4027,1000025.0,147,9441776.0,9441776.0,Changde_Taohuayuan_Airport
23,The_Money-Maker_Recipe,0,6558,1000028.0,59,17649909.0,17649909.0,The_Money-Maker_Recipe
24,Kraslice,0,5155,1000029.0,168,2499868.0,2499868.0,Kraslice
25,Gronsveld,0,4825,100003.0,80,9576921.0,9576921.0,Gronsveld
26,"Orange_City,_Iowa",0,17965,1000030.0,666,114236.0,114236.0,"Orange_City,_Iowa"
27,Entropy_of_mixing,0,30774,1000031.0,1300,3021875.0,3021875.0,Entropy_of_mixing
28,Unschooling,0,30321,1000032.0,3717,159405.0,159405.0,Unschooling
29,Lanškroun,0,6366,1000033.0,164,531551.0,531551.0,Lanškroun
...,...,...,...,...,...,...,...,...
14730148,Hard_Call:_Great_Decisions_and_the_Extraordina...,1,23,5655148.0,0,16689476.0,15442092.0,Hard_Call
14730149,Her_Majesty's_Courts_&_Tribunal_Service,1,56,5732294.0,0,31376596.0,31369903.0,Her_Majesty's_Courts_and_Tribunals_Service
14730150,2015_Hawaii_Rainbow_Warriors_football,1,55,19818449.0,0,55388993.0,46366466.0,2015_Hawaii_Rainbow_Warriors_football_team
14730151,"Mayfair_Heights,_Alberta",1,100,7138563.0,0,34029326.0,1842924.0,Parkland_County
14730152,"Michigan_Wolverines_football,_1918",1,51,4560490.0,0,55435690.0,14342697.0,1918_Michigan_Wolverines_football_team
14730153,Kawanishi_H3K1,1,27,1405769.0,0,34385029.0,12277883.0,Kawanishi_H3K
14730154,The_Seal_of_Nehara,1,56,7762810.0,0,21719560.0,6734632.0,The_Seal_of_Nehahra
14730155,Wrecx_n_Effect,1,29,943592.0,0,11022684.0,466615.0,Wreckx-n-Effect
14730156,92845,1,80,7985201.0,0,40640638.0,10430870.0,"West_Garden_Grove,_Garden_Grove,_California"
14730157,Carl_FW_Borgward,1,68,68907.0,0,14969376.0,2851917.0,Carl_F._W._Borgward
14730158,UN/LOCODE:USUZN,1,93,1942709.0,0,1334143.0,134400.0,"Williston,_South_Carolina"
14730159,"James_Hewgley,_Jr.",1,34,6138443.0,0,45653790.0,31812738.0,James_M._Hewgley_Jr.
14730160,Central_Ngwi_languages,1,39,48834659.0,0,33429721.0,37033198.0,Central_Loloish_languages
14730161,"Michigan_Wolverines_football,_1955",1,51,4568395.0,0,55435866.0,25711296.0,1955_Michigan_Wolverines_football_team
14730162,Cross-country_skiing_at_the_1980_Winter_Olympi...,1,316,1534865.0,0,60027589.0,60026304.0,Cross-country_skiing_at_the_1980_Winter_Olympi...
14730163,"Krasiński,_Count_Zygmunt",1,31,245355.0,0,2443948.0,1041545.0,Zygmunt_Krasiński
14730164,"Adelchis_I,_Count_of_Parma",1,35,1284126.0,0,11523852.0,11523893.0,Adelchis_I_of_Spoleto
14730165,Sally_Winnemucca,1,30,438194.0,0,41218145.0,170667.0,Sarah_Winnemucca
14730166,Emily_H._Stowe,1,24,155506.0,0,59333095.0,567470.0,Emily_Stowe
14730167,Blossom_MacDonald_Rock,1,26,273814.0,0,21401758.0,2428007.0,Blossom_Rock
14730168,A3_road_(Australia),1,30,58187831.0,0,19901437.0,19885729.0,List_of_A3_roads
14730169,"Deh_Baneh,_Rasht",1,36,5721543.0,0,41092052.0,41092000.0,Deh_Baneh-ye_Eslamabad
14730170,Cerro_Vicuna_Mackenna,1,72,18208463.0,0,50833726.0,44045805.0,Cerro_Vicuña_Mackenna
14730171,"Osgood,_Charles",1,76,5081387.0,0,57637378.0,821177.0,Charles_Osgood
14730172,Palmer_Bus,1,32,7128217.0,0,6820293.0,6695367.0,Palmer_Bus_Service
14730173,Est.Domain,1,24,5399970.0,0,24181285.0,24179837.0,EstDomains
14730174,.p3t,1,51,1464743.0,0,18236087.0,3729703.0,XrossMediaBar
14730175,Ceti_Alpha_Six,1,139,4063649.0,0,7358181.0,8376003.0,List_of_Star_Trek_planets_(C–F)
14730176,Pascals_Wager,1,85,830200.0,0,215608.0,215539.0,Pascal's_wager
14730177,Swimming_at_the_2005_World_Aquatics_Championsh...,1,271,16952344.0,0,49820527.0,39532638.0,Swimming_at_the_2005_World_Aquatics_Championsh...

In [33]:
wikipages_cleaned.to_csv('../data/wikipages_cleaned.csv', index = False)

In [14]:
wikipages_cleaned[wikipages_cleaned.page_id == 325726.0]

,page_title,page_is_redirect,page_len,wikidata_numeric_id,views,page_id,target_page_id,target_page_title
6040736,Social_network_analysis,0,47818,7551269.0,10825,325726.0,325726.0,Social_network_analysis

In [25]:
len(wikipages_cleaned[wikipages_cleaned.wikidata_numeric_id.isnull()])

40693

In [26]:
wikipages_cleaned[wikipages_cleaned.wikidata_numeric_id.isnull()].sort_values(['views'], ascending = False)

,page_title,page_is_redirect,page_len,wikidata_numeric_id,views,page_id,target_page_id,target_page_title
6013857,King_of_the_Monsters,0,718,NaN,50810,61352819.0,61352819.0,King_of_the_Monsters
6040729,"2019_Tour_de_France,_Stage_12_to_Stage_21",0,43438,NaN,25187,61241389.0,61241389.0,"2019_Tour_de_France,_Stage_12_to_Stage_21"
6040731,List_of_countries_by_population_(United_Nations),0,39128,NaN,24281,39707994.0,39707994.0,List_of_countries_by_population_(United_Nations)
6040732,G1_Climax_(2019),0,52071,NaN,17689,61355160.0,61355160.0,G1_Climax_(2019)
6040733,Fear_Inoculum,0,16805,NaN,15794,59592046.0,59592046.0,Fear_Inoculum
6040734,71st_Primetime_Creative_Arts_Emmy_Awards,0,65200,NaN,14241,61294403.0,61294403.0,71st_Primetime_Creative_Arts_Emmy_Awards
6040735,List_of_A24_films,0,12959,NaN,13583,61287896.0,61287896.0,List_of_A24_films
6049574,Rich_Energy_Ltd.,1,42,NaN,13316,61296123.0,61118727.0,Rich_Energy
6040737,The_Search_(NF_album),0,6309,NaN,10626,60932174.0,60932174.0,The_Search_(NF_album)
6040738,Premiership_of_Boris_Johnson,0,7191,NaN,10621,61343841.0,61343841.0,Premiership_of_Boris_Johnson
6040739,The_Independents_(UK),0,6638,NaN,9450,61250409.0,61250409.0,The_Independents_(UK)
6040740,NFL_Top_100_Players_of_2019,0,29776,NaN,8999,61340650.0,61340650.0,NFL_Top_100_Players_of_2019
6040741,Detective_Pikachu,0,267,NaN,8532,61356376.0,61356376.0,Detective_Pikachu
6040742,The_Highwomen,0,7666,NaN,8056,61316266.0,61316266.0,The_Highwomen
6040743,Ministry_of_Jal_Shakti,0,1151,NaN,7605,61249984.0,61249984.0,Ministry_of_Jal_Shakti
6040744,Rich_Energy,0,12257,NaN,7291,61118727.0,61118727.0,Rich_Energy
6040745,The_Lost_Boy_(album),0,10246,NaN,7232,61372862.0,61372862.0,The_Lost_Boy_(album)
6040746,The_Killer_Bride,0,5486,NaN,6602,60959232.0,60959232.0,The_Killer_Bride
6040747,Bigg_Boss_Telugu_3,0,13449,NaN,6398,60618079.0,60618079.0,Bigg_Boss_Telugu_3
6040748,"Big_Bull,_India",0,5782,NaN,6131,61297424.0,61297424.0,"Big_Bull,_India"
6040749,Hell_in_a_Cell_(2019),0,4452,NaN,5692,58716841.0,58716841.0,Hell_in_a_Cell_(2019)
6040750,CDATA,0,8924,NaN,5396,2606581.0,2606581.0,CDATA
6040751,Purple_Mountains,0,6523,NaN,5007,28175435.0,28175435.0,Purple_Mountains
6040752,Rise_(Hollywood_Vampires_album),0,7011,NaN,4926,61126380.0,61126380.0,Rise_(Hollywood_Vampires_album)
6040753,High_diving_at_the_2019_World_Aquatics_Champio...,0,4461,NaN,4848,61246393.0,61246393.0,High_diving_at_the_2019_World_Aquatics_Champio...
6040754,2019–20_FA_Cup_qualifying_rounds,0,54167,NaN,4524,60844601.0,60844601.0,2019–20_FA_Cup_qualifying_rounds
6040755,The_King_of_Random,0,6119,NaN,4520,61370184.0,61370184.0,The_King_of_Random
6050420,Grant_Thompson,1,98,NaN,4392,61396118.0,61370184.0,The_King_of_Random
6040757,Amadeus,0,480,NaN,4347,61379875.0,61379875.0,Amadeus
6040758,2021_Major_League_Baseball_All-Star_Game,0,2882,NaN,4333,57098789.0,57098789.0,2021_Major_League_Baseball_All-Star_Game
...,...,...,...,...,...,...,...,...
10815093,Eurasian_Informetr_Res_J,1,85,NaN,0,58798146.0,58798146.0,Eurasian_Informetr_Res_J
10814973,N_Am_Open_Stat_Math_Res_J,1,91,NaN,0,58805811.0,58805811.0,N_Am_Open_Stat_Math_Res_J
10820427,World_Open_Zoo_&_Wildlife_Medicine_Journal,1,134,NaN,0,58821984.0,58821984.0,World_Open_Zoo_&_Wildlife_Medicine_Journal
10820513,Eurasian_Agric._Food_Sci._Res._J.,1,85,NaN,0,58781496.0,58781496.0,Eurasian_Agric._Food_Sci._Res._J.
10820549,J._Constr._Psychol.,1,80,NaN,0,61309083.0,61309078.0,Journal_of_Constructivist_Psychology
10820728,World_Open_Ophthalmological_Medicine_Journal,1,138,NaN,0,58819758.0,58819758.0,World_Open_Ophthalmological_Medicine_Journal
10824958,US_Open_Inf._Sci._Internet_Technol._J.,1,87,NaN,0,58773369.0,58773369.0,US_Open_Inf._Sci._Internet_Technol._J.
10824720,Int._J._Archit._Eng.,1,91,NaN,0,58768917.0,58768917.0,Int._J._Archit._Eng.
10824709,Eur_Open_Agric_Manag_J,1,91,NaN,0,58799734.0,58799734.0,Eur_Open_Agric_Manag_J
10824302,American_Open_Hydrology_Journal,1,140,NaN,0,58807341.0,58807341.0,American_Open_Hydrology_Journal
10824298,ISO_639:qkr,1,134,NaN,0,40720759.0,40720759.0,ISO_639:qkr
10823805,Open_Research_Journal_of_Agriculture_&_Finance,1,138,NaN,0,58809260.0,58809260.0,Open_Research_Journal_of_Agriculture_&_Finance
10823472,Research_Open_Journal_of_Computational_Intelli...,1,138,NaN,0,58810103.0,58810103.0,Research_Open_Journal_of_Computational_Intelli...
10823372,North_American_Open_Basic_and_Applied_Science_...,1,74,NaN,0,58803277.0,58803277.0,North_American_Open_Basic_and_Applied_Science_...
10823252,World_Open_Econ._Labour_Relat._J.,1,90,NaN,0,58813466.0,58813466.0,World_Open_Econ._Labour_Relat._J.
10823152,P:HALO,1,45,NaN,0,48422641.0,48422641.0,P:HALO
10823072,H:IPA-sk,1,49,NaN,0,59572888.0,59572888.0,H:IPA-sk
10823000,CAT:XNR,1,69,NaN,0,41376172.0,41376172.0,CAT:XNR
10822740,Canadian_Open_Food_Science_&_Technology_Journal,1,135,NaN,0,58736855.0,58736855.0,Canadian_Open_Food_Science_&_Technology_Journal
10822717,Eurasian_Anthropology_Research_Journal,1,128,NaN,0,58781637.0,58781637.0,Eurasian_Anthropology_Research_Journal
10822687,World_Open_Contemp_Res_J,1,90,NaN,0,58813034.0,58813034.0,World_Open_Contemp_Res_J
10822643,World_Open_Polym_Eng_J,1,90,NaN,0,58820253.0,58820253.0,World_Open_Polym_Eng_J
10822038,Eurasian_Health_Sci_Res_J,1,85,NaN,0,58797972.0,58797972.0,Eurasian_Health_Sci_Res_J
10821730,Academic_Open_Social_Science_&_Geography_Resea...,1,232,NaN,0,58768020.0,58768020.0,Academic_Open_Social_Science_&_Geography_Resea...
10821583,Res_Open_J_Sep_Purif_Technol,1,90,NaN,0,58810591.0,58810591.0,Res_Open_J_Sep_Purif_Technol
10821381,Can_Open_Food_Chem_J,1,86,NaN,0,58736844.0,58736844.0,Can_Open_Food_Chem_J
10821012,European_Open_Research_and_Opinion_Journal,1,74,NaN,0,58802178.0,58802178.0,European_Open_Research_and_Opinion_Journal
10820745,J_Reproduction_Infertil,1,118,NaN,0,60736862.0,60736862.0,J_Reproduction_Infertil
10820734,Embassy_of_Slovakia_Ottawa,1,58,NaN,0,61259488.0,61259484.0,"Embassy_of_Slovakia,_Ottawa"
14729571,World_Open_Cough_Tuberc._J.,1,90,NaN,0,58813060.0,58813060.0,World_Open_Cough_Tuberc._J.

75% of the articles still without wikidata item have fewer than 10 views. As such, most are insignificant.

In [32]:
wikipages_cleaned[wikipages_cleaned.wikidata_numeric_id.isnull()]['views'].describe()

count    40693.000000
mean        34.924090
std        407.577772
min          0.000000
25%          0.000000
50%          0.000000
75%         10.000000
max      50810.000000
Name: views, dtype: float64

Some of the pages have Wikidata items, but are not indicated as such in the wikipages dataset.

In [27]:
entities[entities.id == 66084740]

,id,en_label,en_description,enwiki_title
23613348,66084740,List of countries by population (United Nations),Wikimedia list article,List of countries by population (United Nations)

In [28]:
wikipages_cleaned[wikipages_cleaned.wikidata_numeric_id == 66084740]

Empty DataFrame
Columns: [page_title, page_is_redirect, page_len, wikidata_numeric_id, views, page_id, target_page_id, target_page_title]
Index: []

In [29]:
wikipages[wikipages.wikidata_numeric_id == 66084740]

Empty DataFrame
Columns: [page_id, page_title, page_is_redirect, page_len, wikidata_numeric_id, views]
Index: []

Example of a target page not having wikidata numeric id but a source page does.

In [64]:
wikipages[wikipages.page_id == 325726.0]

,page_id,page_title,page_is_redirect,page_len,wikidata_numeric_id,views
6040736,325726,Social_network_analysis,0,47818,NaN,10825

In [69]:
redirect[redirect['target_page_id'] == 325726]

,source_page_id,target_page_id,source_page_title,target_page_title
1717720,1559348,325726,Social_Network_Analysis,Social_network_analysis
1721329,12567496,325726,Social_networking_potential,Social_network_analysis
1722555,20645616,325726,Cascade_(Social_Network_Theory),Social_network_analysis
1724358,17661070,325726,Social_Network_Change_Detection,Social_network_analysis
1727934,17576720,325726,Social_network_change_detection,Social_network_analysis
1730560,39596224,325726,Networks_in_Political_Science,Social_network_analysis
1732941,14825621,325726,Social_Networking_Potential,Social_network_analysis

In [70]:
wikipages[wikipages.page_id == 17661070]

,page_id,page_title,page_is_redirect,page_len,wikidata_numeric_id,views
13526126,17661070,Social_Network_Change_Detection,1,69,NaN,0

In [71]:
wikipages[wikipages.page_id == 17576720]

,page_id,page_title,page_is_redirect,page_len,wikidata_numeric_id,views
5421981,17576720,Social_network_change_detection,1,37,7551269.0,318

In [65]:
entities[entities.id == 7551269]

,id,en_label,en_description,enwiki_title
17128640,7551269,Social network change detection,NaN,Social network change detection