In [1]:
import pandas as pd

In [3]:
plaintext = pd.read_csv('../data/big_data/raw/enwiki_20190801.k_plaintext.csv', nrows = 5)

In [4]:
plaintext.head()

,section_id,page_id,wikidata_numeric_id,section_num,section_name,section_text,section_len
0,41000000078874,38853914,16091584,5,Awards,At least fifteen of Porter's works were honore...,1022
1,41000000078875,38853914,16091584,6,The Helen Fogwill Porter Fund,"In March 2003, the Newfoundland and Labrador N...",689
2,41000000078876,38853914,16091584,7,Works,===Books=== *From this Place- with Bernice Mor...,396
3,41000000078878,38853914,16091584,9,External links,*,1
4,41000000079267,38855083,13477914,0,Introduction,'Rhypopteryx rubripunctata' is a species of mo...,257

In [5]:
link = pd.read_csv('../data/big_data/raw/enwiki_20190801.k_link.csv', nrows = 5)

In [6]:
link.head()

,link_id,source_section_id,source_section_num,source_page_id,source_wikidata_numeric_id,link_anchor,link_offset_start,link_offset_end,link_type,target_page_id,target_wikidata_numeric_id
0,21000001056735,21000000205757,0,16790911,2394214,U.S. state,65,75,simple,18618239,35657
1,21000001542247,21000000309148,0,17071097,6331447,U.S. state,119,129,simple,18618239,35657
2,51000000302248,51000000078598,0,51047025,27988080,U.S. state,64,74,simple,18618239,35657
3,51000000703969,51000000187651,0,51328323,6027479,U.S. state,64,74,simple,18618239,35657
4,51000000842046,51000000225341,0,51431077,27989090,U.S. state,65,75,simple,18618239,35657

In [8]:
page = pd.read_csv('../data/raw/enwiki_20190801.page.csv', nrows = 5)

In [9]:
page

,page_id,page_title,page_is_redirect,page_len,wikidata_numeric_id,views
0,31880,Universe,0,125156,1,37605
1,24437894,Boston,0,188674,100,60038
2,12027,Gabon,0,60678,1000,24767
3,1313683,Dutch_Wikipedia,0,8325,10000,1203
4,4037258,Cadier_en_Keer,0,2584,100000,51

In [10]:
anchor = pd.read_csv('../data/raw/enwiki_20190801.k_raw_anchors.csv', nrows = 5)

In [11]:
anchor

,anchor_text,target_page_id,target_wikidata_numeric_id,anchor_target_count,anchor_frac,target_frac
0,Adaptive technology,653,688498,4,1.000000,0.013605
1,assistive technology,653,688498,133,0.985185,0.452381
2,Adaptive Design,653,688498,2,1.000000,0.006803
3,assistive device,653,688498,14,1.000000,0.047619
4,assistance,653,688498,2,0.100000,0.006803

In [43]:
wikidata = pd.read_csv('../data/raw/wikidata_20190805.item.csv', nrows = 5000)

In [44]:
wikidata[~wikidata.enwiki_title.isnull()].tail()

,id,en_label,en_description,enwiki_title
2337,51495239,Job Stewart,British actor,Job Stewart
2403,51495833,Michael Fly,NaN,Michael Fly
3369,51503807,Charles Reardon,NaN,Charles Reardon
3825,51507766,2018–19 2. Frauen-Bundesliga,NaN,2018–19 2. Frauen-Bundesliga
4740,51515324,Craig Sorrell Pittman,NaN,Craig Sorrell Pittman

In [31]:
triplets = pd.read_csv('../data/raw/wikidata_20190805.qpq_item_statements.csv', nrows = 5)

In [32]:
triplets.head()

   source_item_id  edge_property_id  target_item_id  el_rank
0              31              1344         1088364        1
1              31              1151         3247091        1
2              31              1546         1308013        1
3              31              5125         7112200        1
4              31                38            4916        0